@import './variables.scss';

.boop-feed {
  display: flex;
  flex-direction: column;
  padding: 6rem 0rem;
  // width: calc(100% - 45rem);
  justify-content: center;
  align-items: center;
  
  @media only screen and (max-width: $boopBreakpoint1) {
    width: 100%;
  }
  
  .post-form {
    width: 100%;
    max-width: 42.5rem;
    background-color: white;
    color: $boopPrimaryTextColor;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    margin: 1rem 0;
    margin-top: 0;
    box-shadow: 0px 1px 0px 1px $boopItemHoverTransWhiteBG;
    
    @media only screen and (max-width: $boopBreakpoint0) {
      max-width: 36.875rem;
    }
    @media only screen and (max-width: $boopBreakpoint3) {
      width: 100%;
    }
    
    .post-input {
      display: flex;
      
      img {
        display: inline-flex;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        margin-right: 0.75rem;
        cursor: pointer;
        
        &:hover {
          filter: brightness(0.9);
        }
      }
      
      button {
        width: calc(100% - 2.75rem);
        background: transparent;
        height: 2.5rem;
        border-radius: 1.25rem;
        background-color: $boopBgColorMain;
        border: 2px solid transparent;
        display: flex;
        align-items: center;
        padding: 0 1rem 0 0.75rem;
        color: $boopSecondaryTextColor;
        
        &:hover {
          background-color: $boopItemHoverTransWhiteBG;
        }
      }
    }
    
    hr {
      margin-top: 0.75rem;
      margin-bottom: 0.5rem;
      background-color: $boopInfoTextColor;
    }
    
    .post-buttons {
      display: flex;
      justify-content: space-between;
      
      button {
        border: none;
        background-color: transparent;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        width: 100%;
        font-weight: 600;
        color: $boopSecondaryTextColor;
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media only screen and (max-width: $boopBreakpoint3) {
          flex-direction: column;
          white-space: nowrap;
          padding: 0.5rem 0rem;
        }
        
        &:hover {
          background-color: $boopItemHoverTrans;
        }
        
        i {
          margin-right: 0.5rem;
          font-size: 1.5rem;
        }
        
        .fa-video-camera {
          position: relative;
          display: flex;
          align-items: center;
          color: $boopRed;
          margin-right: 0.5rem;
          transform: scaleY(1.1);
          
          &::after {
            content: '\f06e';
            color: white;
            position: absolute;
            font-size: 0.7rem;
            font-weight: bold;
            margin-left: 0.2rem;
          }
        }
        
        .fa-picture-o {
          color: $boopGreen;
        }
        
        .fa-smile-o {
          color: $boopYellow;
          transform: scale(1.2);
        }
      }
    }
  }
  
  .boop-post {
    width: 100%;
    max-width: 42.5rem;
    background-color: white;
    color: $boopPrimaryTextColor;
    border-radius: 0.5rem;
    padding: 0.75rem 0rem;
    margin: 1rem 0;
    box-shadow: 0px 1px 0px 1px $boopItemHoverTransWhiteBG;
    
    @media only screen and (max-width: $boopBreakpoint0) {
      max-width: 36.875rem;
    }
    @media only screen and (max-width: $boopBreakpoint3) {
      width: 100%;
    }
    
    .post-user {
      display: flex;
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 600;
      color: $boopPrimaryTextColor;
      margin-bottom: 0.5rem;
      padding: 0 1rem;
      
      img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
      .user-title {
        display: flex;
        flex-direction: column;
        
        small {
          font-weight: 400;
          color: $boopSecondaryTextColor;
          line-height: 0.9;
        }
      }
    }
    
    img {
      height: 18.75rem;
      width: 100%;
      background-size: cover;
    }
    
    .post-img-title {
      margin: 0 1rem;
      padding: 0.5rem 1.25rem 0.25rem 1.25rem;
      border: 1px solid $boopDisabledTextColor;
      border-top: none;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}