@import './variables.scss';

.boop-feed {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  
  .post-form {
    width: 36.875rem;
    margin: 0 auto;
    background-color: white;
    color: $boopPrimaryTextColor;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    box-shadow: 0px 1px 0px 1px $boopItemHoverTransWhiteBG;
    
    .post-input {
      display: flex;
      
      img {
        display: inline-flex;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        margin-right: 0.75rem;
        cursor: pointer;
        
        &:hover {
          filter: brightness(0.9);
        }
      }
      
      button {
        width: calc(100% - 2.75rem);
        background: transparent;
        height: 2.5rem;
        border-radius: 1.25rem;
        background-color: $boopBgColorMain;
        border: 2px solid transparent;
        display: flex;
        align-items: center;
        padding: 0 1rem 0 0.75rem;
        color: $boopSecondaryTextColor;
        
        &:hover {
          background-color: $boopItemHoverTransWhiteBG;
        }
      }
    }
    
    hr {
      margin-top: 0.75rem;
      margin-bottom: 0.5rem;
      background-color: $boopInfoTextColor;
    }
    
    .post-buttons {
      display: flex;
      justify-content: space-between;
      
      button {
        border: none;
        background-color: transparent;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        width: 100%;
        font-weight: 600;
        color: $boopSecondaryTextColor;
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
          background-color: $boopItemHoverTrans;
        }
        
        i {
          margin-right: 0.5rem;
          font-size: 1.5rem;
        }
        
        .fa-video-camera {
          position: relative;
          color: $boopRed;
          margin-right: 0.5rem;
          transform: scaleY(1.1);
          
          &::after {
            content: '\f06e';
            color: white;
            position: absolute;
            left: 3px;
            top: 6px;
            font-size: 0.7rem;
            font-weight: bold;
          }
        }
        
        .fa-picture-o {
          color: $boopGreen;
        }
        
        .fa-smile-o {
          color: $boopYellow;
          transform: scale(1.2);
        }
      }
    }
  }
}