@import './variables.scss';

.faceboop {
  background-color: $boopBgColorMain;
  min-height: 200vh;
  @media only screen and (max-width: $boopBreakpoint1) {
    padding-right: 23rem;
  }
  @media only screen and (max-width: $boopBreakpoint2) {
    padding-right: 0;
  }
  @media only screen and (max-width: $boopBreakpoint3) {
    padding-right: var(--bs-gutter-x, .75rem);
  }
}
