@import './variables.scss';

.faceboop {
  background-color: $boopBgColorMain;
  min-height: 200vh;
  // padding-left: 23rem;
  // padding-right: 23rem;
  @media only screen and (max-width: $boopBreakpoint1) {
    padding-right: 23rem;
  }
  @media only screen and (max-width: $boopBreakpoint2) {
    padding-right: 0rem;
  }
}
