@import './variables.scss';

.boop-main-menu {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 3.55rem);
  width: 22.5rem;
  padding: 0.75rem 0 0.25rem 1rem;
  background-color: $boopBgColorMain;
  position: fixed;
  z-index: 1980;
  top: 3.55rem;
  right: calc(100% - 22.5rem);
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: $boopScrollBarThumb;
  scrollbar-track-color: $boopScrollBarTrack;
  
  @media only screen and (max-width: $boopBreakpoint1) {
    right: 100%;
    &.show-main {
      right: calc(100% - 22.5rem);
      box-shadow: 0px 6px 8px 0px $boopBoxShaddowColor;
    }
  }
  
  &:hover {
    overflow-y: overlay;
    
    // border-bottom vs. scrollbar fix
    
    .users-cont {
      &::before {
        opacity: 0;
      }
    }
  }
  
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    border: 0.25rem solid $boopScrollBarTrack;
    border-radius: 0.5rem;
    background-color: $boopScrollBarThumb;
  }
  &::-webkit-scrollbar-track {
    background-color: $boopScrollBarTrack;
  }
  
  .close-main {
    display: none;
    @media only screen and (max-width: $boopBreakpoint1) {
      position: absolute;
      right: 0;
      display: inline-flex;
      height: 2.25rem;
      width: 2.25rem;
      border-radius: 50%;
      margin-right: 0.25rem;
      background-color: $boopSecondaryButtonBackground;
      justify-content: center;
      align-items: center;
      
      &:hover {
        cursor: pointer;
        background-color: $boopSecondaryButtonBackgroundHOV;
      }
    }
  }
  
  p {
    font-weight: 600;
    color: $boopSecondaryTextColor;
    margin-bottom: 0.5rem;
  }
  
  .main-menu-cont {
    
    // mapped user =>
    .main-menu-item {
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 600;
      color: $boopPrimaryTextColor;
      border-radius: 0.025rem;
      margin: 0.75rem 0;
      width: calc(100% - 1.25rem);
      padding-left: 0.25rem;
      
      &:hover {
        background-color: $boopItemHoverTrans;
        box-shadow: 0px 0px 0px 0.5rem $boopItemHoverTrans;
      }
      
      img {
        height: 2.25rem;
        width: 2.25rem;
        // border-radius: 50%;
        margin-right: 0.75rem;
      }
    }
  }
  
  .main-menu-opt {
    
    .menu-opt {
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 600;
      color: $boopPrimaryTextColor;
      border-radius: 0.025rem;
      margin: 0.75rem 0;
      width: calc(100% - 1.25rem);
      padding-left: 0.25rem;
      
      &:hover {
        background-color: $boopItemHoverTrans;
        box-shadow: 0px 0px 0px 0.5rem $boopItemHoverTrans;
        
        div {
          background-color: $boopSecondaryButtonBackgroundHOV;
        }
      }
      
      div {
        display: inline-flex;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        margin-right: 0.75rem;
        background-color: $boopSecondaryButtonBackground;
        justify-content: center;
        align-items: center;
      }
    }
  }
}