@import './variables.scss';

.boop-main-menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 22.5rem;
  padding: 4.25rem 0 0.25rem 1rem;
  position: fixed;
  top: 0;
  right: calc(100% - 22.5rem);
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: thin;
  scrollbar-color: $boopScrollBarThumb;
  scrollbar-track-color: $boopScrollBarTrack;
  
  &:hover {
    overflow-y: overlay;
    
    // border-bottom vs. scrollbar fix
    
    .users-cont {
      &::before {
        opacity: 0;
      }
    }
  }
  
  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    border: 0.25rem solid $boopScrollBarTrack;
    border-radius: 0.5rem;
    background-color: $boopScrollBarThumb;
  }
  &::-webkit-scrollbar-track {
    background-color: $boopScrollBarTrack;
  }
  
  
  p {
    font-weight: 600;
    color: $boopSecondaryTextColor;
    margin-bottom: 0.5rem;
  }
  
  .users-cont {
    
    // mapped user =>
    .user-contact {
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 600;
      color: $boopPrimaryTextColor;
      border-radius: 0.025rem;
      margin: 0.75rem 0;
      width: calc(100% - 1.25rem);
      padding-left: 0.25rem;
      
      &:hover {
        background-color: $boopItemHoverTrans;
        box-shadow: 0px 0px 0px 0.5rem $boopItemHoverTrans;
      }
      
      img {
        height: 2.25rem;
        width: 2.25rem;
        // border-radius: 50%;
        margin-right: 0.75rem;
      }
    }
  }
  
  .group-cont {
    
    .group-contact {
      cursor: pointer;
      font-size: 0.9rem;
      font-weight: 600;
      color: $boopPrimaryTextColor;
      border-radius: 0.025rem;
      margin: 0.75rem 0;
      width: calc(100% - 0.5rem);
      padding-left: 0.25rem;
      
      &:hover {
        background-color: $boopItemHoverTrans;
        box-shadow: 0px 0px 0px 0.5rem $boopItemHoverTrans;
        
        div {
          background-color: $boopSecondaryButtonBackgroundHOV;
        }
      }
      
      div {
        display: inline-flex;
        height: 2.25rem;
        width: 2.25rem;
        border-radius: 50%;
        margin-right: 0.75rem;
        background-color: $boopSecondaryButtonBackground;
        justify-content: center;
        align-items: center;
      }
    }
  }
}