
$boopPrimaryTextColor: #1C1E21;
$boopSecondaryTextColor: #65676B;
$boopDisabledTextColor: #CCD0D5;
$test: '';

$boopBgColorMain: hsl(216, 20%, 95%);

$boopBlueMain: hsl(214, 89%, 52%);

$boopLogoGradient: linear-gradient( hsl(192, 89%, 52%), $boopBlueMain, hsl(214, 89%, 44%));

$boopSecondaryButtonBackground: #e4e6eb;