$test: '';

$boopBlueMain: #1876f2;
$boopLogoGradient: linear-gradient( hsl(192, 89%, 52%), $boopBlueMain, hsl(214, 89%, 44%));

$boopRed: #f02849;
$boopRedGradient: linear-gradient(pink, $boopRed, $boopRed);
$boopGreen: #45bd62;
$boopYellow: #f7b928;
$boopOrange: #f5533d;

// LIGHT THEME //
$boopPrimaryTextColor: #1C1E21;
$boopSecondaryTextColor: #65676B;
$boopInfoTextColor: #9c9fa3;
$boopDisabledTextColor: #CCD0D5;

$boopBgColorMain: #f0f2f5;

$boopSecondaryButtonBackground: #e4e6eb;
$boopSecondaryButtonBackgroundHOV: #d3d6de;

$boopScrollBarTrack: hsl(220, 15%, 92%);
$boopScrollBarThumb: rgba(28, 30, 33, 0.22);

$boopItemHoverTrans: rgba(0,0,0,0.05);
$boopItemHoverTransHeavy: rgba(0,0,0,0.1);

$boopBoxShaddowColor: rgba(0,0,0,0.2);
// END LIGHT THEME //



// xl
$boopBreakpoint0: 1550px;
// left side-bar collapse
$boopBreakpoint1: 1340px;
// right side-bar collapse
$boopBreakpoint2: 970px;
// mobile
$boopBreakpoint3: 650px;
